[submodule "assets/lib"]
	path = assets/lib
	url = https://github.com/cotes2020/chirpy-static-assets.git
[submodule "Applications/CodePlayground"]
	path = Applications/CodePlayground
	url = https://github.com/trrahul/CodePlayground.git
[submodule "Applications/TerminalUniverse"]
	path = Applications/TerminalUniverse
	url = https://github.com/trrahul/TerminalUniverse.git
