---
layout: default
refactor: true
panel_includes:
  - toc
---

{% include lang.html %}
{% include toc-status.html %}

<article class="px-1" data-toc="{{ enable_toc }}">
  <nav class="post-topic-path" aria-label="Breadcrumb">
    <i class="far fa-folder-open" aria-hidden="true"></i>
    <a href="{{ '/' | relative_url }}">Home</a>
    <span class="sep">/</span>
    <a href="{{ '/nodify-avalonia/' | relative_url }}">Nodify.Avalonia</a>
    <span class="sep">/</span>
    <span aria-current="page">{{ page.doc_title }}</span>
  </nav>

  {% if enable_toc %}
    <div id="toc-bar" class="d-flex align-items-center justify-content-between invisible">
      <span class="label text-truncate">{{ page.title }}</span>
      <button type="button" class="toc-trigger btn me-1" aria-label="Open table of contents">
        <i class="fa-solid fa-list-ul fa-fw"></i>
      </button>
    </div>

    <div class="mobile-buttons-container">
      <button id="toc-solo-trigger" type="button" class="toc-trigger btn btn-outline-secondary btn-sm">
        <span class="label ps-2 pe-1">{{- site.data.locales[lang].panel.toc -}}</span>
        <i class="fa-solid fa-angle-right fa-fw"></i>
      </button>
    </div>

    <dialog id="toc-popup" class="p-0">
      <div class="header d-flex flex-row align-items-center justify-content-between">
        <div class="label text-truncate py-2 ms-4">{{- page.title -}}</div>
        <button id="toc-popup-close" type="button" class="btn mx-1 my-1 opacity-75" aria-label="Close table of contents">
          <i class="fas fa-close"></i>
        </button>
      </div>
      <div id="toc-popup-content" class="px-4 py-3 pb-4"></div>
    </dialog>
  {% endif %}

  <div class="content">
    {{ content }}
  </div>
</article>
